@import "variables";
@import "mixins";
@import "reset";
@import "preset";

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $base-font-size;
}

body {
    height: 100%;
    font-size: 1.6rem;
    border-color: orange;
}

.wrapper {
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem;
}