$color-danger: #dc3545;
$color-success: #28a745;
$color-warning: #ffc107;
$color-orange: #ffa500;
$color-info: #17a2b8;
$color-primary: #007bff;
$color-secondary: #6c757d;

// ThemeColor : 
$color-blue-theme : #6DBFF4;
$color-black-theme : #121212;
$color-grey-theme : #909090;
$color-white-theme : #F6F2F2;

$font-family: 'Roboto', sans-serif;
$base-font-size: 62.5%; 

$linear-blue-gradient :linear-gradient(135deg, #0ec5c2, #2447d4);
$linear-blue-reverse-gradient :linear-gradient(-135deg, #0ec5c2, #2447d4);
$linear-orange-gradient : linear-gradient(135deg, $color-orange, #ff3c27);
$linear-orange-reverse-gradient : linear-gradient(-135deg, $color-orange, #ff3c27);
