$color-danger: #dc3545;
$color-success: #28a745;
$color-warning: #ffc107;
$color-orange: #ffa500;
$color-info: #17a2b8;
$color-primary: #007bff;
$color-secondary: #6c757d;

// ThemeColor : 
$color-blue-theme : #6DBFF4;
$color-black-theme : #121212;
$color-grey-theme : #909090;
$color-white-theme : #F6F2F2;

$font-family: 'Roboto', sans-serif;
$base-font-size: 62.5%; // équivaut à 10px
