
h1{
    text-align: center;
    margin: 2rem 0;
}

// feuille de style de la page Login


.loginTitle {
    h1 {
        text-align: center;
        margin: 2rem 0;
    }

    p {
        text-align: center;
        font-size: 2rem;
    }
}

// texte introductif de la page exercice 

.introduction{
    text-align: center;
    margin: 20px 50px;
    font-size: 2rem;
}

// styles des cards exercice 

.ContainerCardsExercices{
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

// style de la page NotFound

.notFound{
    height: 80vh;
    width: 800px;
    margin: 20rem auto;
    img{
        width: 100%;
        margin: auto;
        border-radius: 50%;
        opacity: 0.8;
    }
}