@import '../../../sass/index.scss';


form.formConnexion {

    .formConnexion__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        padding: 1rem 2rem;
        border: 1px solid $tertiary-color;
        border-radius: 0.5rem;

        .formConnexion__title {
            margin-bottom: 2rem;
            font-size: 2rem;
            font-weight: 700;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            width: 60%;
            margin-bottom: 2rem;

            label {
                margin-bottom: 0.5rem;
                font-size: 1.6rem;
                font-weight: 700;
            }

            input {
                display: flex;
                flex-direction: column;
                margin-bottom: 2rem;
                padding: 0.5rem 1rem;
                border: none;
                width: 100%;
                height: 3rem;
                padding: 0 0.5rem;
                font-size: 1.6rem;
                text-align: center;
                border-radius: 0.5rem;
            }


            p.forgetPassword {
                margin-top: 1rem;
                font-size: 1.6rem;
                font-weight: 700;
                color: $color-info;
                text-decoration: none;

                &:hover {
                    color: lighten($color-info, 10%);
                }
            }
        }
    }

    button {
        min-width: 50%;
        height: 3rem;
        padding: 0.25rem;
        font-size: 1.6rem;
        font-weight: 700;
        border: none;
        border-radius: 0.5rem;
        background-color: $color-success;
        color: $quaternary-color;

        &:hover {
            background-color: lighten($color-success, 10%);
        }
    }
}

.invitCreateAccount, .recupPassword {
    font-size: 1.6rem;
    font-weight: 700;
    color: $secondary-color;
    text-decoration: none;
    margin-top: 2rem;

    .createAccountLink, .forgottenPasswordLink {
        color: $color-success;
        text-decoration: none;
      
        &:hover {
            color: lighten($color-success, 10%);
        }
    }}