@import "../../../../sass/index.scss";

.updateForm_container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  @include GlassMorphism();

  @media screen and (min-width: 990px) {
    width: 50%;
    margin: auto;
    
  }

  .titleUpdate {
    text-align: center;

    h2 {
      font-size: 1.4rem;
      text-transform: uppercase;
    }
  }

  form.updateForm {
    width: 100%;
    height: auto;

    .form-group.update_avatar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;
      font-size: 2rem;

      img.avatar-preview {
        @include responsiveImg(40%, auto, cover);
        border-radius: 1rem;

        @media screen and (min-width: 990px) {
          @include responsiveImg(25%, auto, cover);
        }
      }

      label {
        font-size: 1.8rem;
      }

      input#avatar {
        height: 3rem;
        width: 100%;
        margin-top: 0.5rem;
        padding: 0.25rem;
        border: none;
        border-radius: 2rem;
        font-size: 1rem;
        text-align: center;

        @media screen and (min-width: 990px) {
          width: 55%;
        }
      }
    } // .form-group.update_avatar
  } // form.updateForm

  .form-group-one-update {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;

    .form-group {
      width: calc(95% - 1rem);
      margin: 1rem 0.5rem 0.6rem 0.5rem;
      text-align: center;

      @media screen and (min-width: 768px) {
        width: calc(45% - 1rem);
      }

      label {
        font-size: 1.1rem;
        font-weight: 800;
        text-align: center;
      }

      input,
      select {
        height: 2rem;
        width: 100%;
        text-align: center;
        border-radius: 1rem;
        border: 1px solid #ccc;
        outline: none;
        border-bottom-width: 0.3rem;
      }
    } // .form-group

    .form-group-gender {
      width: 100%;
      text-align: center;
      margin-top: 0.2rem;
      // font-size: 3rem;
      font-weight: 800;

      nav {
        font-size: 1.8rem;
      }

      .genders {
        display: flex;
        justify-content: space-evenly;
        font-weight: 500;
        margin: auto;

        label {
          font-size: 1.6rem;
          padding-left: 0.5rem;
        }

        input {
          width: 1rem;
          height: 1rem;
        }
      }
    } // .form-group-gender
  } // .form-group-one-update

  .buttonContainer {
    margin: 1rem 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
      width: 50%;
      margin: auto;
    }

    button {
      height: 100%;
      width: 50%;
      outline: none;
      color: $color-white-theme;
      border: none;
      border-radius: 1rem;
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      background: $linear-blue-gradient;

      &:hover {
        transform: scale(1.1);
        transition: all 2s ease;
        background: $linear-blue-reverse-gradient;
        border: 1px solid black;
      }
    } // button
  } // .buttonContainer
}
.info-message {
  @include flex(row, center, center);
  width: 100%;
  height: 2.5rem;
}
