.user_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
    .user_detail {
        width: 50%;
      font-size: 1rem;
      color: $color-white-theme
    }
  }
