@import '../../../sass/index.scss';

.welcomePage {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5rem;

  h1, h2 {
    margin-top: 1rem;
  }

  p {
    margin-top: 2rem;
    line-height: 3rem;
  }

  .buttons {
    margin-top: 8rem;
  }

  //style des Link
  .createAccountLink,
  .FormConnexion {
    background-color: $color-success;
    color: $quaternary-color;
    padding: 10px;
    margin: 0 100px;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
      background-color: lighten($color-success, 10%);
    }
  }

  @media screen and (max-width: 768px) {

    .createAccountLink,
    .FormConnexion {
      display: flex;
      justify-content: center;
      margin: 10px 0; // Ajustement de la marge pour une meilleure disposition
      width: 100%; // Pleine largeur pour les écrans mobiles
    }
  }
}