@import '../../../sass/index.scss';

.welcomePage {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20rem;


  h1, h2 {
    margin-top: 1rem;
    cursor: default;
  }

  p {
    margin-top: 2rem;
    line-height: 3rem;
    cursor: default;
  }

  .buttons {
    background: rgb(255, 255, 255, 0.3);
    padding:4rem 6rem;
    border-left: 2px solid rgb(255, 255, 255, 0.3);
    border-top: 2px solid rgb(255, 255, 255, 0.3);
    margin: 100px auto;
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 15px;
  }

  //style des Link
  .createAccountLink,
  .FormConnexion {
    display: flex;
    justify-content: center;
    width: 15rem;
    background-color: rgba(255, 255, 255, 0.637);
    color: black;
    padding: 10px;
    margin: 20px 100px;
    border-radius: 5px;
    text-decoration: none;
    opacity: 0.7;

    &:hover {
      background-color: lighten($color-success, 10%);
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.324);
      border: 1px solid black;
      overflow: auto;
    }
  }

  @media screen and (max-width: 768px) {

    .createAccountLink,
    .FormConnexion {
      display: flex;
      justify-content: center;
      margin: 10px 0; // Ajustement de la marge pour une meilleure disposition
      width: 100%; // Pleine largeur pour les écrans mobiles
    }
  }
}