@import "../../../sass/index.scss";

.welcomePage {
  @include flex(column, space-evenly, center);
  align-items: center;
  height: 80vh;
  margin: 10vh 0 0;

  .welcomeTitle {
    text-align: center;
    margin-bottom: 0.25rem;

    h1 {
      text-transform: uppercase;
      margin-top: 1rem;
      font-size: 2rem; 
    }

    h2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 1rem;
      font-size: 1.2rem;
    }
  }

  .welcomeText {
    @include center-flex;
    width: 80%;
    padding: 1rem;
    background-color: rgba(16, 141, 213, 0.431);
    border-radius: 1rem; 
    box-shadow: outset 0.25rem 0.25rem 0.25rem $color-white-theme;
    text-align: left;
    margin: 0.5rem auto;
    line-height: 2rem;

    @media screen and (min-width: 768px) {
      height: 50vh;
      overflow-y: auto;
    }

    p {
      margin: 0;
    }
  }

  .FormConnexion {
    padding: 2rem;
    margin: 2rem 10rem;
    border-radius: 1rem; 
    font-size: 1.2rem;
    
  }
  
  .buttons.links-log {
    flex: 1;
    @include flex-horizontal-center;
    gap: 0.5rem;
    
    .FormConnexion {
      padding: 1rem;
      text-align: center;
      @include GlassMorphism;
      @include button-style;
      width: 60%;
      height: 2rem; 
    }
  }

  @media screen and (max-width: 768px) {
    .buttons {
      width: 100%;
      margin: 0;
    }

    .FormConnexion,
    .createAccountLink {
      width: 100%;
      margin: 0.5rem 0;
    }
  }
}
