@import "../../../sass/variables.scss";

.container_quotes {
  flex-grow: 1;
  text-align: center;
  margin-bottom: 7vh;

  h2 {
    color: $color-primary;
  }

  .quote {
    margin-top: 1rem;
    padding: 1rem;
    // background-color: rgba(16, 141, 213, 0.431);
    border: 0.1 solid $color-black-theme;
    border-radius: 0.5rem;
    box-shadow: outset 0.25rem 0.25rem 0.25rem $color-white-theme;

    p {
      text-align: center;
    }
  }

  .space {
    margin-top: 1rem;

    .line {
      width: 100%;
      height: 1px;
      background-color: $color-primary;
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.5rem;

      .author {
        font-size: 1.1rem;
        font-weight: bold;
        // color: $color-primary;
      }

      .icons {
        img {
          cursor: pointer;
          width: 2rem; 
          height: 2rem; 
          transition: transform 0.3s ease-in-out;

          &:hover {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 768px) {
//   .container_quotes {
//     width: 80%; 
//     margin: 2.5vh 0 8vh; 
//   }
// }
