@import "../../../sass/index";

.return-link_container{
    display: flex;
    justify-content: space-around;
    margin: 1rem;

   .linkTo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
    @include button-style;
   }
}
