.containerLink{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
   .linkTo{
    font-size: 2rem;
    &:hover{
        color: white;
        text-shadow: 2px 2px 2px rgb(110, 109, 109);
        transform: scale(1.5);
        transition: all 0.5s ease;
    }
   }
}