@import '../../../sass/index.scss';

.my-account-page{
    width: 80%;
    height: 80%;
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 20px;
  
    box-shadow: 2px 2px 2px 2px  rgba(232, 228, 228, 0.3);
    margin:  auto;
    button{
        width: 25%;
        background-color: aqua;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        &:hover{
            background-color: white;
            cursor: grab;
        }
    }
}