// contents colors, polices, margin ... 


// palette_blue : 
// $primary-color : #50A5B1;
// $shade-primary-color : rgba(150, 251, 87, 0.60);
// $secondary-color : #121212;
// $tertiary-color : #909090;
// $quaternary-color : #F6F2F2;

// palette_red :
// $primary-color : #E73725;
// $secondary-color : #121212;
// $tertiary-color : #909090;
// $quaternary-color : #F6F2F2;

// palette_green :
$primary-color : #97FB57;
$shade-primary-color : rgba(150, 251, 87, 0.60);
$secondary-color : #121212;
$tertiary-color : #909090;
$quaternary-color : #F6F2F2;

// fonts : 
$font-family : 'Roboto', sans-serif;
$base-font-size : 62.5%; //soit 10px




