.cardContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(127, 255, 212, 0.534);
    margin: 1.25rem; 
    text-align: center;
    border-radius: 0.9375rem; 
    border-top: 0.125rem solid white;
    border-left: 0.125rem solid white;
    box-shadow: 0.125rem 0.125rem 0.125rem rgb(9, 9, 9);
    
    .card-header {
      font-size: 1.4rem;
      margin-bottom: 1.25rem;
    }

    .icon{
        margin-top: 0.25rem;
        width: 15%;
        height: auto;
    }
    
    .card-content {
      font-size: 1.2rem;
    }
    
    .card-link {
      justify-content: flex-end;
      margin-top: 0.625rem; 
      letter-spacing: 0.125rem;
      margin-bottom: 0.3125rem;

      .linkTo{
        font-size: 1.2rem;
        font-style: italic;
        font-weight: bolder;
      }
    }
    
    &:hover {
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.572), rgba(6, 237, 237, 0.452), rgba(13, 36, 206, 0.486));
      border-top: 0.125rem solid rgb(9, 8, 8);
      border-left: 0.125rem solid rgb(0, 0, 0);
      box-shadow: 0.125rem 0.125rem 0.125rem rgb(255, 255, 255);
      cursor: grab;
    }
  }
  