@import "../../../../sass/index.scss";

.updateExerciseContainer{
    margin: 10vh 0;
    padding: 2rem; 
    @include GlassMorphism();
    border-radius: 1.5rem; 
    text-align: center;
  


    h2{
        margin: 20px auto;
    }
    .form-group{
        display: flex;
        flex-direction: column;
        width: 60vw;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        img{
            border-radius: 10px;
        }
        input, select, option{
            height: 40px;
            width: 250px;
            text-align: center;
            border: none;
            border-radius: 1;
            margin: 1rem 0;
            border: 0.1rem solid ;
            border-radius: 1rem;
        }
        textarea{
            width: 80%;
            height: 10rem;
            padding: 0.5rem;
            border-radius: 1rem;
            resize: none;
        }
    }
 button.put-exercise{
    height: 4rem;
    width: 15rem;
    border-radius: 1rem;
    margin: 1rem 0;
    color: $color-white-theme;
    letter-spacing: 2px;
    background-color: $color-orange;

    &:hover{
        background-color: lighter($color-orange, 10%)
    }
 }
}

