@import "../../../../sass/index";
// @import '../../../sass/variables.scss';

.random-routine-container {

  @media screen and (min-width: 990px) {
    width: 50%;
    margin: auto;
  }


  .loading {
    text-align: center;

    img.spinnerImg {
      @include responsiveImg(4rem, 4rem, contain);
    }
  }

  .section-title {
    @include section-title;
  }

  .exercise-slider {
    .slider-controls {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      button {
        @include button-style;
        width: 33%;
        height: 2.5rem;
        padding: 0.5rem 1rem;

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }

    .exercise-details {
      h3.exercise-muscle {
        font-weight: bold;
      }

      h3.exercise-muscle{
        @include section-title();
      }
      p.exercise-description {
        margin-top: 1rem;
        font-style: italic
      }

      figure.exercise-image_container{
        @include center-flex();
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: $color-orange;
        width: 100%;        
      }

      img.exercise-image {
        @include responsiveImg(55%, auto, contain);
        margin: 1rem 0;
        
        
        @media screen and (min-width: 768px) {
          @include responsiveImg(45%, auto, contain);
          
        }
      }

      p.time-left {
        margin: 1rem auto;
        text-align: center;
        color: $color-success;
      }

      p.congratulations-message {
        font-weight: bold;
        text-align: center;
        margin-top: 1rem;
        color: $color-success;
      }
    }
  }

  .return-link_container {
    @include flex(column, center, center);
    margin: 5vh auto;
    .return-link {
      @include button-style;
      letter-spacing: 0.2rem;
      display: block;
      text-align: center;
    }


    @media screen and (min-width: 768px) {
      width: 45%;
    }
  }
}
