@import "../sass/index";

header {
  @include center-flex;
  flex-basis: 15%;
  background-color: $color-blue-theme;
  border: 0.25rem solid $color-white-theme;
  @include firstBorderRadius;
  padding: 1rem;
  // z-index: 1;

  figure {
    display: flex;
    align-items: center;
    justify-content: center;

    img.header_logo {
      @include responsiveImg(40%, auto, cover);
    }
  }

  .header_title {
    text-align: center;
    text-transform: uppercase;
    color: $color-white-theme;

    p.slogan{
      font-size: 0.9rem;
      font-weight: bolder;
    }
  }
}
