@import "../../../../sass/index.scss";

.exerciseContainer {
  @include flex(column, center, center);

  .title {
    text-align: center;
  }

  .filterContainer {
    @include flex(column, center, center);
    flex-wrap: wrap;
    gap: 0.25rem;
    margin: 2rem;
    text-align: center;
    padding: 0.5rem;

    @media screen and (min-width: 765px) {
      @include flex(row, start, start);
    }

    h3 {
      font-size: 1.6rem;
    }

    label {
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    select {
      text-align: center;
      margin: 0 2rem;
      border-radius: 0.5rem;
      font-size: 1.4rem;
      text-transform: uppercase;
    }
  }

  ul.exercise-item {
    @include flex(space-around);
    flex-grow: 1;
    flex-wrap: wrap;
    width: calc(100% - 1rem);
    margin: 0 auto;
    border-radius: 1rem;
    border: 0.2rem solid white;

    li {
      @include flex(column, center);
      margin: 2rem;
      flex-wrap: wrap;
      border-top: 0.2rem solid white;
      border-bottom: 0.2rem solid white;

      p {
        text-align: center;
        margin: 1rem 0;
      }

      img {
        @include responsiveImg(12rem, 12rem, cover);
        border-radius: 1.5rem;
      }

      .exercise-name::first-letter {
        text-transform: uppercase;
      }

      .exercise-name {
        margin: 1rem 0;
        font-size: 2rem;
        font-weight: bold;
        color: #333;
        text-align: center;
      }

      .exercise-description {
        font-size: 1.1rem;
        margin: 1rem 0;
        color: #555;
      }

      .exercise-type {
        margin: 1rem 0;
        font-size: 1.1rem;
        font-style: italic;
        font-weight: 800;
        color: #777;
      }

      .exercise-muscle {
        margin: 1rem 0;
        font-size: 1.1rem;
        font-weight: bold;
        color: #444;
      }

      .exercise-image {
        @include responsiveImg(12rem, auto, cover);
        border-radius: 1.5rem;
      }

      .exercise-link {
        text-decoration: none;
        color: #007bff;
        margin-top: 1rem;
        transition: color 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          color: #0056b3;
        }
      }

      .put {
        color: $color-orange;
      }

      .delete {
        color: $color-danger;
        margin-bottom: 0.25rem;
      }
    }
  }

  .paginContainer {
    @include flex(space-between, center);
    margin-top: 2rem;

    button {
      border-radius: 1rem;
      margin: 0 1rem;

      img.icon {
        @include responsiveImg(20%, auto, cover);
      }
    }

    .index_pagination {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      p {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .navigate-link {
    @include flex(column, center, center);
    width: 65%;
    margin: 5vh auto;
    gap: 0.25rem;
    text-align: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    .return-link {
      @include button-style;
      letter-spacing: 0.2rem;
      text-align: center;
      padding: 1rem;
    }
  }
}

@media screen and (min-width: 965px) {
  .exercise-item {
    flex-basis: calc(45% - 1rem);
    margin: 1rem;
    height: 40rem;
  }
}
