@import "../../../../sass/index.scss";

.exerciseDetailContainer {
  text-align: center;
  margin-bottom: 10vh;

  h2 {
    font-weight: bolder;
    margin: 2rem 0;
  }

  .spinner {
    width: 10rem;
    margin: 2rem auto;
  }

  .exerciseDetail {
    margin: 2rem;
  }
}

.exercise-card {
  border-radius: 1rem;
  border: 0.2rem solid white;
  padding: 2rem;
  margin: 2rem auto;
  width: 80%;

  .exercise-name::first-letter {
    text-transform: uppercase;
  }
  .exercise-name {
    margin: 1rem 0;
    font-weight: bold;
    color: #333;
  }

  .exercise-description {
    margin: 1rem 0;
    color: #555;
  }

  .exercise-type {
    margin: 1rem 0;
    font-style: italic;
    font-weight: bolder;
    color: #777;
  }

  .exercise-muscle {
    margin: 1rem 0;
    font-weight: bolder;
    color: #444;
  }
}

h2 {
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

img.exercise-img {
  width: 20rem;
  border-radius: 1.5rem;
}
