@import "../../../../sass/index.scss";

.introduction {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  text-align: justify;
  padding: 1rem;
  @include GlassMorphism();
  background-color: rgba(16, 141, 213, 0.431);
  border-radius: 0.5rem;
  box-shadow: outset 0.25rem 0.25rem 0.25rem $color-white-theme;
  margin: 0.5rem auto;
  line-height: 2rem;

  p {
    font-size: 1.4rem;
  }
}

.ContainerCardsExercices {
  display: flex;
  flex-direction: column;
  align-items: center;

  .Card {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
  }

  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

// Exercises.js
h1 {
  font-size: 1.5rem;
  text-align: center;
}

.ContainerCardsExercices {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 12vh 0;

  .cardContainer {
    flex-basis: calc(33.3333% - 2rem); //ici, 3 cartes par ligne
    margin: 1rem;
    // height: 30rem; //a voir 

    .icon {
      @include responsiveImg(10%, auto, cover);
      margin-top: 0.25rem;
    }

    .card-header {
      font-size: 1.6rem;
      margin-bottom: 1.25rem;
    }

    .card-content {
      font-size: 1.2rem;
    }

    .card-link {
      justify-content: flex-end;
      margin-top: 0.625rem;
      letter-spacing: 0.125rem;
      margin-bottom: 0.3125rem;

      .linkTo {
        font-size: 1.2rem;
        font-style: italic;
        font-weight: bolder;
      }
    }

    &:hover {
      background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.572),
        rgba(6, 237, 237, 0.452),
        rgba(13, 36, 206, 0.486)
      );
      border-top: 0.125rem solid rgb(9, 8, 8);
      border-left: 0.125rem solid rgb(0, 0, 0);
      box-shadow: 0.125rem 0.125rem 0.125rem rgb(255, 255, 255);
      cursor: pointer;
    }

    @media screen and (max-width: 768px) {
      flex-basis: 100%;
    }

  }
}
@media screen and (min-width: 965px){
  .ContainerCardsExercices{
  
    .cardContainer {
      flex-basis: calc(33.3333% - 2rem); //ici, 3 cartes par ligne
      margin: 1rem;
      height: 30rem; //a voir 
    }

  }
}
