.ExerciseManagementPageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .card{


    @media screen and (min-width: 768px) {
     flex-basis: width(95%, 2rem);
      
    }
  }

}