@import "../../../sass/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

// Message d'information des validation des inputs et du formulaire:
.error {
  color: $color-orange;
}

.successMessage {
  color: $color-success;
}

.errorMessage {
  color: $color-danger;
}

.signUpContainer {
  h2.form-title {
    @include center-flex;
    margin: 1.5rem 0;
    font-size: 5rem;
    color: $color-black-theme;
    letter-spacing: 0.5rem;
  }
}

.formRegister,
.modal_cgu {
  background-color: rgba(255, 255, 255, 0.61);
  margin: 1rem 5rem;
  border-top: 0.2rem solid $color-white-theme;
  border-left: 0.2rem solid $color-white-theme;
  box-shadow: 0.2rem 0.2rem 0.2rem black;
  border-radius: 1.5rem;

  .form-group-avatar {
    margin: 1.25rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30rem;
    border-radius: 1.5rem;
    padding: 2rem;
    text-align: center;

    input {
      width: 50%;
    }
  }

  @media screen and (max-width: 56.25rem) {
    .form-group-avatar {
      margin: 1.25rem auto;
    }
  }

  label {
    height: 3.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    font-size: 2rem;
    font-weight: 500;
  }

  input {
    text-align: center;
    height: 4rem;
    border-radius: 0.5rem;
    border: none;
  }

  img {
    margin: auto;
    width: 20rem;
    &:hover {
      transform: scale(1.5);
      transition: all 1s ease-in-out;
    }
  }

  .formContainer {
    font-family: "Poppins", sans-serif;
    @include center-flex;
    height: 80vh;
    padding: 1rem;

    .formRegister__container {
      max-width: 56.25rem;
      width: 100%;
      padding: 2.5rem 2rem;

      .form-group-one {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .form-group {
          width: calc(100% / 2 - 1.25rem);
          margin: 1.25rem 0 0.75rem 0;

          input,
          select {
            height: 4.5rem;
            width: 100%;
            margin-top: 0.25rem;
            opacity: 0.7;
            text-align: center;
            border-radius: 1rem;
            border: 0.1rem solid #ccc;
            font-size: 2rem;
            outline: none;
            border-bottom-width: 0.3rem;
            @include flex-horizontal-center;
          }

          label {
            font-weight: 500;
            font-size: 2rem;
          }
        }
      }

      .genderTitle {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.2rem;
        @include center-flex;
      }

      .genderCategory {
        font-size: 2rem;
        font-weight: 400;
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin: 1.4rem auto;
        input {
          width: 2rem;
          height: 2rem;
          margin-right: 0.625rem;
        }
      }

      .form-group.cgu {
        flex-basis: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .container_button.cgu {
        flex-basis: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4.5rem;
        margin: 2.5rem 0;

        button {
          height: 100%;
          width: 80%;
          margin: 0.1rem;
          outline: none;
          color: #020202;
          border: none;
          border-radius: 1rem;
          font-size: 1.8rem;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 0.3rem;
          background: linear-gradient(135deg, $color-orange, #ff3c27);
          background-size: 200% 200%;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: scale(1.05);
            transition: all 1s ease-in-out;
            background-position: right center;
            background: linear-gradient(
              -135deg,
              darken($color-orange, 10%),
              darken(#ff3c27, 10%)
            ); 
            letter-spacing: 0.5rem;
            color: $color-white-theme;
          }
        }
      }

      .container_button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 10%;
        height: 4.5rem;
        margin: 2.5rem 0;

        button {
          height: 100%;
          width: 80%;
          outline: none;
          color: #020202;
          border: none;
          border-radius: 1rem;
          font-size: 1.8rem;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 0.3rem;
          background: $linear-blue-gradient;

          &:hover {
            transform: scale(1.05);
            transition: all 1s ease-in-out;
            background: $linear-blue-reverse-gradient;
            letter-spacing: 0.5rem;
            color: $color-white-theme;
          }
        }
      }
    }
  }

  .modal_cgu_content {
    padding: 2rem;
  }

  @media screen and (max-width: 43.75rem) {
    .formRegister {
      background-color: #2447d4;
      display: block;
    }

    .formRegister__container {
      max-width: 100%;
      .form-group-one {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .form-group {
          width: 100%;
          margin: 1.25rem 0 0.75rem 0;
        }
      }
    }
  }

  @media screen and (max-width: 43.75rem) {
    .formContainer {
      height: 120vh;
    }
  }
}
