@import "../../../../sass/index";

.addExerciseContainer {
  padding: 2rem;
  text-align: center;
  background-color: $linear-blue-gradient;
  @include GlassMorphism();
  @include flex-vertical-center;

  @media screen and (min-width: 990px) {
    width: 50%;
    margin: auto;
    
  }

  h2 {
    margin: 2rem 0;
    font-size: 2.4rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;

    label {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    input[type="text"],
    select {
      @include inputs;
    }

    .textareaContainer {
      width: 100%;
      textarea {
        width: 100%;
        min-height: 10rem;
        padding: 0.5rem;
        font-size: 1.6rem;
        border: none;
        @include GlassMorphism();
      }
    }

    select {
      appearance: none;
    }

    .imgPreview {
      img {
        width: 100%;
        max-width: 20rem;
        @include firstBorderRadius;
      }
    }

    .form-error {
      font-size: 1.6rem;
      color: $color-danger;
      font-weight: bold;
    }
  }

  button[type="submit"] {
    width: 50%;
    height: 2rem;
    background-color: $color-success;
    color: white;
    font-size: 1.8rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($color-success, 10%);
    }
  }

  .form-success {
    font-size: 1.6rem;
    color: $color-success;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    font-size: 1.6rem;
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }

  // Styles spécifiques pour les écrans mobiles
  @media screen and (max-width: 768px) {
    padding: 1rem;

    h2 {
      font-size: 2rem;
    }

    .form-group {
      label {
        font-size: 1.6rem;
      }

      input[type="text"],
      select {
        height: 3.5rem;
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
      }

      .textareaContainer {
        textarea {
          min-height: 8rem;
          font-size: 1.4rem;
        }
      }

      .imgPreview {
        img {
          max-width: 15rem;
        }
      }

      .form-error {
        font-size: 1.4rem;
      }
    }

    button[type="submit"] {
      height: 3.5rem;
      font-size: 1.6rem;
    }

    .form-success {
      font-size: 1.4rem;
    }

    a {
      font-size: 1.4rem;
      margin-top: 1rem;
    }
  }
}
.return-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.25rem;
}
