@import "../../../sass/index";

.formForgotten {
  @include center-flex();

  .formRegister__container {
    background-color: rgba(221, 230, 230, 0.387);
    padding: 2rem;
    border-radius: 1rem;
    border-top: 2px solid $color-white-theme;
    border-left: 2px solid $color-white-theme;
    box-shadow: 2px 2px 2px black;
    width: 60%;
    font-size: 1.6rem;
    text-align: center;

    h2 {
      font-size: 1.7rem;
      margin-bottom: 2rem;
      font-weight: bold;
    }

    .form-group-one {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .form-group {
        display: flex;
        flex-direction: column;
        margin: 1.5rem 0;

        label {
          font-size: 1.6rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        input[type="email"],
        input[type="text"],
        select {
          @include inputs;
        }

        .error {
          font-size: 1.6rem;
          color: $color-danger;
          font-weight: bold;
          margin-top: 1rem;
        }
      }
    }

    .button {
      margin: 5rem 0;

      button {
          @include button-style;
      }
    }
  }

  .passwordResetSuccess {
    text-align: center;

    .generatedPassword {
      font-weight: bold;
      color: $color-primary;
    }

    .passwordResetSuccess__message {
      font-size: 1.8rem;
      font-weight: bold;
      margin-top: 2rem;
      color: $color-success;
    }

    .linkTo {
      text-decoration: none;
      font-size: 1.8rem;
      color: $color-primary;
      margin-top: 2rem;

      &:hover {
        transform: scale(1.2);
        transition: all 0.6s ease-in-out;
        color: white;
      }
    }
  }
}
