@import "../../../sass/preset.scss";

.formForgotten{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .formRegister__container{
    padding: 20px;
    background-color: rgba(181, 191, 191, 0.605);
    text-align: center;
    font-size: 25px;
    border-radius: 15px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    box-shadow: 2px 2px 2px black;
    h2{
      margin-bottom: 30px;
    }
    .form-group-one{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      input, select{
        width: 100%;
        height: 35px;
        text-align: center;
        font-size: 15px;
        letter-spacing: 2px;
        margin: 5px 0 10px 0;
      }

    }

  }
  .button{
    height: 35px;
    background-color: brown;
    button{
      height: 100%;
      width: 100%;
    }
  }
}



//////////////////////////////////////////////////////

.passwordResetSuccess {
    margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1rem solid #000;
  border-radius: 1rem;
  background-color: $color-info;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  color: #fff;
}

span.generatedPassword {
  font-size: 1.5rem;
  font-weight: 700;
  color: orange;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #fff;
    background-color: #000;
  }
}
