// Import des fichiers SASS
@import "../sass/variables";
@import "../sass/mixins";
@import "../sass/preset";

// Reset CSS
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Styles des liens
li {
    list-style: none;
}

a {
    color: $secondary-color;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
}

.linkTo{
    color: $color-primary;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
}

// Styles globaux
html {
    font-size: $base-font-size;
}

body {
    height: 100%;
    font-size: 1.6rem;
    color: $secondary-color;
    border-color: $tertiary-color;
    background-image: linear-gradient(270deg,#0a0815 0,rgba(10,8,21,0) 4%,rgba(10,8,21,0) 96%,#0a0815)

}

// Conteneur principal
.wrapper {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0.5rem 2rem 0 2rem;
}

// Barre de navigation
// .navbar {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     width: 100%;
//     padding: 1rem;
//     background-color: $secondary-color;
//     display: flex;
//     justify-content: center;
//     z-index: 999;
// }

// .navbar ul {
//     position: absolute;
//     top: 100%;
//     width: 100%;
//     display: none;
//     flex-direction: column;
//     align-items: center;
//     padding-bottom: 0.5rem;
// }

// .navbar.show-menu ul {
//     display: flex;
//     position: relative;
// }

// .navbar li {
//     margin: 0.5rem 0;
// }

// .navbar a {
//     display: inline-block;
//     padding: 0.5rem 1rem;
//     color: $quaternary-color;
//     font-size: 1.6rem;
//     text-decoration: none;
// }

// .navbar button {
//     margin-left: auto;
//     display: block;
//     background: none;
//     border: none;
//     color: white;
//     cursor: pointer;
// }

// .navbar button img {
//     width: 1.5rem;
// }

/* Media Query pour les petits écrans */
@media (max-width: 640px) {
    .navbar ul {
        flex-direction: row;
        position: relative;
        background-color: transparent;
        top: 0;
    }

    .navbar ul li {
        margin: 0 0.5rem;
    }
}

// En-tête
header {
    display: flex;
    width: 100%;
    height: 15vh;
    margin-top: 5vh;
 
    border-radius: 0.5rem;

    .logo {
        display: flex;
        width: 100%;

        .logo-link {
            display: flex;
            align-items: center;
        }

        .title {
            display: flex;
            align-items: center;
            height: 100%;
            text-transform: uppercase;
            font-weight: 800;
        }
    }
}

// Conteneur principal du contenu
main {
    height: 100vh;
    width: 100%;
    margin: 5vh 0;
    padding: 2rem;

    border-radius: 0.5rem;
}


.welcome{
    width: 80%;
    height: 90%;
    margin: 2.5vh auto;
    border-radius: 0.5rem;

    .title{
        text-align: center;
        font-weight: 800;
        margin-bottom: 2rem;
    }

}

.server-error{
    font-size: 2rem;
    color: $color-danger;
    font-weight: bolder;
}

// Pied de page
footer {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgba(245, 245, 220, 0.298);
    border-radius: 0.5rem;
    border-top: 2px solid white;
   min-width: 748px;
}

// welcome page