@import "../sass/index";

// Reset CSS
*,
::before,
::after {
  margin: 0;
  padding: 0;
}

// header :
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family;
  font-size: $base-font-size;
  background-color: $color-body-theme;
}

// Styles des liens
li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  padding: 0 0.5rem;
}

main {
  flex-grow: 1;
  // padding: 2rem;
  margin: 5vh 0;
}

// Messages d'erreurs et de validation :
.error, .successMessage, .errorMessage {
  font-style: italic;
  text-align: center;
  // font-size: 1.2rem;
  font-weight: 500;
}
// erreurs :
span.error {
  color: $color-orange;
}

.server-error {
  color: $color-danger;
  font-weight: bolder;
}


.container_message{
  text-align: center;
  
  .successMessage {
    color: $color-success;
  }
  
  .errorMessage {
    color: $color-danger;
  }
}

// page 404 : 
.notFound{
  @flex(column, center, center)
  width: 100%;
  height: 100%;


  .underConstruction_img{
    @include responsiveImg(100%, auto, cover);
  }
}



// Styles pour les écrans de petite taille (MBF pas apple ;))
@media screen and (max-width: 768px){
  body{
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.2rem;
    // background-color: pink;
  }

  main {
    padding: 1rem;
    margin: 2vh 0;
  }
}


@media screen and (min-width: 965px) {
  body {
    font-size: 1.4rem;
    // background-color: orange;
  }
  
  @media screen and (min-width: 1024px) {
    body {
      font-size: 1.6rem;
      // background-color: green;
    }
  }
  
  @media screen and (min-width: 1240px) {
    body {
      font-size: 1.6rem;
      // background-color: red;
    }
  }
  
  @media screen and (min-width: 1440px) {
    body {
      font-size: 2rem;
      // background-color: crimson;
    }
  }
  
  @media screen and (min-width: 1440px) {
    body {
      font-size: 2.2rem;
      // background-color: darkred;
    }
  }
  
}

