@import "../../../../sass/index.scss";

.myAccountPage_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;

  .user-profile-section {
    padding: 1rem;
    text-align: center;

    p.welcome_user {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bolder;
      margin-bottom: 1rem;
    }

    .user_profile_identity {
      border: 0.125rem solid $color-white-theme;
      border-radius: 0.5rem;
      background: $linear-blue-gradient;
      margin-top: 0.5rem;
      padding: 0.25rem;

      figure {
        @include flex-horizontal-center;
        width: 45%;

        img.userProfile-avatar {
          @include responsiveImg(100%, auto, cover);
          border-radius: 50%;
        }
      }

      .user_profile {
        @include flex-horizontal-center;
        gap: 0.5rem;

        .user_detail {
          width: 50%;
          font-size: 1rem;
          text-align: left;
          // line-height: 1.5;
          color: $color-white-theme;
        }
      }
    }

    .container_btn_avatar {
      margin-top: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: $linear-orange-gradient;

      button.btn_avatar {
        padding: 0.25rem;
        border-radius: 0.5rem;
        background-color: $color-orange;
        color: $color-white-theme;
      }
    }

    @media screen and (max-width: 768px) {
      flex-basis: 100%;
    }
  }

  .container_render {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 12vh 0;

    .cardContainer {
      flex-basis: calc(33.3333% - 2rem); //ici, 3 cartes par ligne
      margin: 1rem;

      .icon {
        @include responsiveImg(10%, auto, cover);
        margin-top: 0.25rem;
      }

      .card-header {
        font-size: 1.6rem;
        margin-bottom: 1.25rem;
      }

      .card-content {
        font-size: 1.2rem;
      }

      .card-link {
        justify-content: flex-end;
        margin-top: 0.625rem;
        letter-spacing: 0.125rem;
        margin-bottom: 0.3125rem;

        .linkTo {
          font-size: 1.2rem;
          font-style: italic;
          font-weight: bolder;
        }
      }

      &:hover {
        background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.572),
            rgba(6, 237, 237, 0.452),
            rgba(13, 36, 206, 0.486));
        border-top: 0.125rem solid rgb(9, 8, 8);
        border-left: 0.125rem solid rgb(0, 0, 0);
        box-shadow: 0.125rem 0.125rem 0.125rem rgb(255, 255, 255);
        cursor: pointer;
      }

      @media screen and (max-width: 768px) {
        flex-basis: 100%;
      }
    }
  }
}